        /*GENERAL STYLES*/
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
            background-color: rgb(222, 222, 222);
        }
        
        ul {
            margin: 0;
            padding: 0;
        }
        
        input {
            text-decoration: none;
        }
        
        a {
            text-decoration: none;
        }
        
        ul li {
            list-style-type: none;
        }
        
        p {
            font-size: 13px;
            line-height: 1.3em;
        }
        
        .container {
            margin: 0 auto;
            width: 960px;
            text-align: center;
        }
        /* HEADER */
        
        .header {
            padding: 10px 0;
            background-color: rgb(154, 2, 2);
        }
        
        .header h1 {
            color: white;
            text-align: center;
        }
        
        #result {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
        }
        
        .header h4 {
            color: grey;
            text-align: right;
        }
        /* NAVIGATION */
        
        .login {
            padding: 15px 0;
            float: right;
        }
        
        .page-navigation {
            background-color: rgb(48, 48, 48);
            min-height: 64px;
        }
        
        .page-navigation li {
            float: left;
            width: 100px;
        }
        
        .page-navigation a {
            display: block;
            color: white;
            line-height: 4em;
            font-weight: bold;
            text-align: center;
        }
        
        .page-navigation label,
        label,
        span {
            color: white;
        }
        
        .page-navigation li a:hover {
            color: orange;
            background-color: gray;
        }
        /* MAIN */
        
        .main {
            text-align: center;
        }
        
        table {
            table-layout: fixed;
            display: inline-block;
            text-align: center;
            margin: auto;
        }
        
        td {
            width: 80px;
            height: 80px;
            background-color: rgb(211, 210, 210);
            border: solid rgb(222, 222, 222);
            text-decoration: none;
        }
        
        #second-tabel button,
        #main-tabel button {
            background-color: rgb(106, 104, 104);
            font-weight: 500;
            font-size: 50px;
            width: 80px;
            height: 80px;
            cursor: pointer;
            border: solid rgb(222, 222, 222);
            border-width: thick;
            text-decoration: none;
            /* animation: myanim 5s linear 2s infinite alternate;*/
        }
        
        #main-tabel span:hover {
            border-color: chartreuse;
            border-width: thick;
        }
        
        #main-tabel td {
            background-color: rgb(238, 238, 238);
        }
        
        .btn,
        .input_param,
        #time {
            color: rgb(222, 222, 222);
            background-color: maroon;
            font-weight: 300;
            font-size: 60px;
            text-decoration: none;
            cursor: pointer;
        }
        
        .btn:hover,
        .input_param:hover {
            background-color: rgba(108, 1, 1, 0.68);
        }
        
        #chack_btn {
            visibility: hidden;
        }
        /* .input_param {
            background-color: maroon;
            font-weight: 400;
            font-size: 40px;
            color: white;
            text-decoration: none;
        }*/
        
        #param {
            background-color: rgb(65, 65, 65);
        }
        /*timer */
        
        .base-timer__label {
            position: absolute;
            /* Size should match the parent container */
            width: 300px;
            height: 300px;
            /* Keep the label aligned to the top */
            top: 0;
            /* Create a flexible box that centers content vertically and horizontally */
            display: flex;
            align-items: center;
            justify-content: center;
            /* Sort of an arbitrary number; adjust to your liking */
            font-size: 48px;
        }
        /* FOOTER */
        
        .footer {
            background-color: rgb(154, 2, 2);
            color: white;
            padding: 10px 0;
            margin-top: 30px;
            text-align: right;
        }